_geometry: &geometry
  grid:
    name: S360x180
    domain:
      type: global
      west: -180
  landmask:
    filename: landmask.nc

cost function:
  cost type: 3D-Var
  window begin: __DA_WINDOW_START__
  window length: PT24H
  geometry: *geometry
  analysis variables: &vars [seaSurfaceTemperature]

  background:
    state variables: *vars
    date: __ANA_DATE__
    filename: bkg.nc    

  background error:
    covariance model: SABER
    saber central block:
      # The correlation operator
      saber block name: BUMP_NICAS
      bump:
        io:
          data directory: bump
        drivers:
          multivariate strategy: univariate
          read local nicas: true
        grids:
        - model:
            variables: [seaSurfaceTemperature]
          io:
            files prefix: bump     

  observations:
    observers:
    - obs space:
        name: seaSurfaceTemperature
        obsdatain:
          engine:
            type: H5File
            obsfile: obs.nc
        obsdataout:
          engine:
            type: H5File
            obsfile: obs_out/obs.nc
        simulated variables: [seaSurfaceTemperature]              
      obs operator:
        name: Identity
        observation alias file: obsop_name_map.yaml
      obs error:
        covariance model: diagonal
      obs filters:
      - filter: PreQC  # only keep obs with the best 2 qc levels from original data file
        maxvalue: 1
      - filter: BlackList  # assign initial error value
        action:
          name: assign error
          error parameter: 1.0
      - filter: Domain Check  # land check
        where:
        - variable: {name: sea_area_fraction@GeoVaLs}
          minvalue: 1.0
      - filter: Background Check
        absolute threshold: 5.0
      - filter: Bounds Check
        minvalue: 0.0 # ignore obs that are close to freezing, for now
        maxvalue: 40.0

variational:
  minimizer:
    algorithm: DRIPCG

  iterations:
  - geometry: *geometry
    ninner: 200
    gradient norm reduction: 1.0e-3
    diagnostics:
      departures: ombg
    online diagnostics:
      write increment: true
      increment:
        filename: inc.nc

final:
  diagnostics:
    departures: oman

output:
  filename: ana.nc
